/* Global App class */
.App {
  text-align: center;
  font-size: 25px;
  margin-top: 5%;
}

.App-title {
  font-size: 40px;
}

.Clock-days{
  display: inline;
  margin: 5px;
}

.Clock-hours{
  display: inline;
  margin: 5px;
}

.Clock-mins{
  display: inline;
  margin: 5px;
}

.Clock-secs{
  display: inline;
  margin: 5px;
}

.field input{
  margin-right: 5px;
}

img {
  height: 30%;
  width: 30%;
  margin-top: 15px;
}
